.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 150vh;
  }
  
  .content {
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 16px;
  }
  
  .goBack {
    display: inline-block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .goBack:hover {
    color: #666;
  }
  