.quillEditor {
  margin-top: 10px;
  height: 300px;
  border: 1px;

  font-size: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inputWrapper {
  margin-bottom: 3rem;
  margin-top: 2px;
}

.labelFileInput {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}


.labelFileInput span {
  font-weight: normal;
  margin-left: 3px;
  margin-right: 5px;
}
.labelFileInput span:hover {
  color: #ff7f50;
}
.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.inputWrapperSelect {
  
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 8vh;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.inputWrapperImg {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.imageName {
  display: flex;
  align-items: center;
 margin-left: 5 px;
  font-size: 0.9rem;
  margin-right: 10px;
}

.closeIcon {
  margin-left: 0.5rem;
  cursor: pointer;
  color: red;
}

.buttonWrapper {
  text-align: center;
  margin-top: 1.5rem;
}

.submitBtn {
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-top: 1rem;
}
.goBack {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.goBack svg {
  margin-right: 0.5rem;
}